<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      ionic3Camera
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Ostatnie zdjecie:
      <img [src]="base64Image" *ngIf="base64Image" />
    </ion-card-content>
  </ion-card>
  <button ion-button (click)="takePicture()">Zrob zdjecie(file uri)</button>
   <button ion-button (click)="takePicture2()">Zrob zdjecie(data url)i czekac</button>
  <ion-card *ngIf="imgSrc">
    <img [src]="imgSrc">
  </ion-card>

   <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="releative">
          
          <ion-icon  ios="ios-add-circle" md="md-add-circle"class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
         <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
